* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./mountain.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* .heading{
    position: fixed;
    margin-top: 6rem;
    font-size: 50px; 
} */

.container {
  position: absolute;
  height: 35rem;
  width: 35rem;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  box-shadow: 0 0 55px black;
}

.add-container {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
}


#add-input {
  position: absolute;
  height: 2.5rem;
  width: 80%;
  left: 0.5rem;
  top: 1rem;
  padding-left: 2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

.underbar {
  width: 0;
  height: 1px;
  top: 3rem;
  left: 2rem;
  position: absolute;
  margin-top: 0.5rem;
  -webkit-transition: 0.5s ease-in-out;
}

#add-input:hover ~ .underbar {
  top: 3rem;
  left: 2rem;
  width: 29rem;
  background: white;
}

#add-button {
  position: absolute;
  right: 0;
  padding-right: 2rem;
  top: 1.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.fa-plus {
  color: whitesmoke;
}

#search-input {
  position: absolute;
  height: 2.5rem;
  width: 90%;
  margin-left: 2rem;
  top: 5rem;
  padding-left: 3rem;
  padding-right: 1rem;
  border: 0.5px solid white;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

#search {
  position: absolute;
  margin-left: 2rem;
  padding-left: 1rem;
  top: 5.7rem;
}

.fa-search {
  color: white;
}

#list {
  position: absolute;
  height: 75%;
  width: 100%;
  margin: auto;
  top: 8rem;
  right: 1rem;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#list::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox-input {
  position: absolute;
  left: 0;
  margin-left: 2.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

/* .checkbox-input:checked + .item-type {
    text-decoration: line-through;
    color: red;
} */

#items {
  list-style-type: none;
}

.item-type {
  display: flex;
  /* width: 90%; */
  margin-left: 5rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  background-color: transparent;
  border-bottom: 0.1px dotted white;
  font-size: 1.5rem;
  color: white;
}

.item-type button {
  right: 0;
  position: absolute;
  display: none;
  width: 1rem;
  height: 1rem;
  padding-top: 0.5rem;
  padding-right: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.item-type .hover{
  display: block;
}

@media only screen and (max-width: 600px) {
    
  body {
    position: fixed;
  }

  .container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(27, 26, 26, 0.37);
  }

  .add-container {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
  }

  #add-input {
    display: block;
    position: absolute;
    height: 2.5rem;
    top: 4rem;
    left: 0;
    padding-left: 2rem;
    border: none;
    border-radius: 0.8rem;
    outline: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
  }

  .underbar {
    width: 0;
    height: 1px;
    top: 6rem;
    left: 2rem;
    position: absolute;
    margin-top: 0.5rem;
    -webkit-transition: width 0.5s ease;
  }

  #add-input:hover ~ .underbar {
    top: 6rem;
    left: 2rem;
    width: 75%;
    background: white;
  }

  #add-button {
    position: absolute;
    right: 0;
    padding-right: 1.8rem;
    top: 4.5rem;
  }

  #search-input {
    position: absolute;
    height: 2.5rem;
    width: 85%;
    top: 8rem;
    background: rgba(27, 26, 26, 0.37);
  }

  #search {
    position: absolute;
    margin-left: 2rem;
    padding-left: 1rem;
    top: 8.8rem;
  }

  #list {
    position: absolute;
    height: 75%;
    width: 100%;
    margin: auto;
    top: 12rem;
    right: 1rem;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .checkbox-input {
    position: absolute;
    left: 0;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }

  #items {
    list-style-type: none;
  }

  .item-type {
    display: flex;
    /* width: 80%; */
    margin-left: 4rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 0.5rem;
    background-color: transparent;
    border-bottom: 0.1px dotted white;
    font-size: 1.5rem;
    color: white;
  }

  .item-type button {
    right: 1rem;
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    padding-top: 0.5rem;
    padding-right: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
  }
}
